h1{
    background-color: rgb(15, 1, 24);
    margin: auto;
    text-align: center;
    padding: auto;
    color:blue
}
body{
    background-color: antiquewhite;
    background-image: url(ngo1.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 900px;
    background-image: ;
}
.c1 {
	display: block;
	padding: 8px;
	width: 850px;
	box-sizing: border-box;
	font-size: 14px;
    color: black;
}
.c2{
    color: blue;
    font-weight: bold;
}


.s1{
    display: flex;
    justify-content:center;
    align-items:left;
    height: 0vh;
    padding: 0%;
    margin: 0%;
    border: 0cm;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin:  0;
    color:violet;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 50px;
   
}
a:hover{
    background: rgba(52, 225, 255, 0.959);
    color: #050801;
    box-shadow: 0 0 5px white,
                0 0 25px white ,
                0 0 50px white,
                0 0 200px white;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

